.TeofiloG{

    position: absolute;
    left: 50%;
    top: 50%;
    // transition: 4s;
    transform: translateX(-50%) translateY(-50%);
    // font-size: 4em;
    text-align: justify;
    color: rgb(255, 255, 255);
    // background: rgba(0, 0, 255, 0.2);
    border-radius: 6px;
    border-top: 5px solid rgba(0, 0, 0, 0.6);
    border-bottom: 5px solid rgba(0, 0, 0, 0.6);
    

}

.habilidades{

    color: red;
}

#pruebaTyped{

    color: rgb(157, 48, 207);
    font-size: 25px;
    // font-size: 2.5em;
    // color: rgba(46, 153, 4, 0.8);
    // float: right;

}

#Iam{

    font-size: 4em;
    text-align: left;
}

#Nombre{

    width: max-content;
    font-size: 4.2em;

}
// .TeofiloG #skills{

//     color: red;
//     font-size: 100px;
// }




       /* Separacion para modo
         Laptop */

@media only screen and (max-height:920px) and (max-width:1440px){


        #Iam{

            font-size: 4em;
            // text-align: left;
        }
        #Nombre{
                
            font-size: 4.2em;
        
        }
}


        //Modo Telefono Grande / Tablet

@media only screen and (max-height:1280px) and (max-width:720px){

    .TeofiloG{
        width: 300px;
        
    }

    #Iam{

        font-size: 2.8em;
        // text-align: left;
    }

    #Nombre{

        font-size: 3em;
        // text-align: left;

    }

}  

@media only screen and (max-width:1030px){

    .prueba{

        margin-top: 150px;
    }

}

    //Telefono mediano

@media only screen and (max-height:667px) and (max-width:375px){

    .TeofiloG{
        width: 76%;
        
    }

    #pruebaTyped{

        font-size: 16px;
        

    }

    #Iam{

        font-size: 2.2em;
        // text-align: left;
    }

    #Nombre{

        font-size: 2.3em;
        text-align: left;

    }

}

    //pequeño

@media only screen and (max-width:312px){

    .TeofiloG{
        text-align: center;
        
    }
    #Nombre{

        
        text-align: center;

    }
    #Iam{

        text-align: center;
    }

}





    