<div id="divRedesSociales">
    <div class="Iconos" id="face">
      <a href="https://www.facebook.com/teo.garcia.92" class="fa fa-facebook-f" target="none"></a>
    </div>
    <div class="Iconos" id="Instagram">
      <a href="https://www.instagram.com/teogarcia04/?hl=es" class="fa fa-instagram" target="none"></a>
    </div>
    <div class="Iconos" id="Youtube">
      <a href="https://www.youtube.com/channel/UCVJfwTm1ma2fdlDBcoM1jVA" class="fa fa-youtube" target="none"></a>
    </div>
    <div class="Iconos" id="Gmail">
      <a href="#" class="fa fa-envelope" target="none"></a>
    </div>
    <div class="Iconos" id="GitHub">
      <a href="https://github.com/teoGarcia" class="fa fa-github" target="none"></a>
    </div>
    <div class="Iconos" id="Whatsapp">
      <a href="https://api.whatsapp.com/send?phone=56993173228&text=Hola, Nececito mas informacion!" class="fa fa-whatsapp" target="none"></a>
    </div>
</div>
    