<section class="divContenedor">
    <section class="Secciones">
        <div id="divEstudios">
            <h2>Estudios</h2>
        </div>
        <div id="divUniversidad">
            <span>Universidad Politécnica Territorial "Manuela Saenz"</span>
            <h4>- Técnico Superior en Informática</h4>
        </div>
    </section>  

    <section class="Secciones">
        <div id="divCursos">
            <h2>Cursos</h2>
        </div>
        <div id="divNomCursos">
            <span>Master en JavaScript</span>
            <h4>- Victor Robles (Udemy)</h4>
        </div>
    </section>
</section>