<section class="container">
    <div class="row filas">

        <div class="col-sm-4">
            <h2>Estudios</h2>


        </div>
        <div class="col-sm-8">

            <h3>Universidad Politécnica Territorial "Manuela Saenz"</h3>
            <h4>- Técnico Superior en Informática</h4>

        </div>

    </div>

    <div class="row filas">
        <div class="col-sm-4">
            <h2>Cursos</h2>

        </div>
        <div class="col-sm-8">

            <h3>Master en JavaScript</h3>
            <h4>- Victor Robles (Udemy)</h4>
            
        </div>

    </div>


</section>



<!-- <section class="divContenedor">
    <section class="Secciones">
        <div id="divEstudios">
            <h2>Estudios</h2>
        </div>
        <div id="divUniversidad">
            <span>Universidad Politécnica Territorial "Manuela Saenz"</span>
            <h4>- Técnico Superior en Informática</h4>
        </div>
    </section>  

    <section class="Secciones">
        <div id="divCursos">
            <h2>Cursos</h2>
        </div>
        <div id="divNomCursos">
            <span>Master en JavaScript</span>
            <h4>- Victor Robles (Udemy)</h4>
        </div>
    </section>
</section> -->