<section class="container">
  <div class="row  bg-dark rounded-3 mb-4">
    <div class="container-fluid py-1">
      <h2 class="TituloGeneralImagenes display-5 fw-bold">SpaVecGenerator</h2>

      <p class="ParrafoSpaVecGenerator">
        <b> SpaVecGenerator </b> es un software realizado en el lenguaje de
        programación <b>Java</b> utilizando el gestor de Base de datos
        <b> MySQL. </b> <br />
        Este Proyecto fue realizado e implementado para que los estudiantes de
        Ingeniería Civil de la Universidad Politécnica "Manuela Saenz" pudieran
        ver puntos, vectores, segmentos y angulos en 3 Dimensiones pudiendo
        identificar las posiciones en las coordenadas X, Y y Z. Por otra parte
        tambien permite Guardar y Abrir Proyectos
      </p>
  
      <!-- start carousel -->
      <div
        id="carouselExampleCaptions"
        class="carousel carousel-dark carousel-fade slide vh-50 mb-3 shadow rounded"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item"
            [ngClass]="{ active: i == 1 }"
            *ngFor="let VectorImagen of VectorImagenes; let i = index"
          >
            <img
              [src]="VectorImagen.img"
              class="d-block w-100"
              [alt]="VectorImagen.nombre"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ VectorImagen.nombre }}</h5>
              <p>{{ VectorImagen.desc }}</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- end carousel -->
    </div>
    
  </div>
  <!-- start row -->
  <div class="row bg-dark rounded-3 mb-4">
    <div class="container-fluid py-1">
    <h2 class="TituloGeneralImagenes display-5 fw-bold">Benso SPA</h2>
    <p class="ParrafoSpaVecGenerator">
      <b> Benso S.P.A. </b>es un software realizado en el lenguaje de programación
      <b>Java</b> utilizando el gestor de Base de datos <b> MySQL. </b> <br />
      Este fue un proyecto realizado para una Pequeña Constructora llamada Benso
      S.P.A. en la Región de Valparaiso, Chile y cuenta con 5 Modulos en los cuales
      se pueden nombrar los siguiente: Clientes, Cotizaciones, Compras, Ordenes de
      Compras y Proyectos. <br />
      Fué un proyecto 100% adaptado a las exigencias del cliente cumpliendo con lo
      esperado por el mismo
    </p>
    <!-- start carousel -->
    <div
    id="carouselBensoCaptions"
    class="carousel carousel-dark carousel-fade slide vh-50 mb-3 shadow"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselBensoCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselBensoCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselBensoCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: i == 1 }"
        *ngFor="let VectorImagenBenso of VectorImagenesBenso; let i = index"
      >
        <img
          [src]="VectorImagenBenso.img"
          class="d-block w-100"
          [alt]="VectorImagenBenso.nombre"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ VectorImagenBenso.nombre }}</h5>
          <p>{{ VectorImagenBenso.desc }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselBensoCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselBensoCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    <!-- end carousel -->
    </div>
  </div>
  <!-- end row -->
</section>
