<section class="container contenedorCompleto">
        <div class="row containerRow">
            <div class="col-xs-4 col-sm-4">
                <h1 id="DatosPersonales">Datos Personales</h1>
                <div class="fotografia">
                    <img src="/assets/Imagenes/TeofiloGarcia.jpg" alt="Teofilo Garcia" id="fotoImagen">
                </div>
                <label for="Rut" id="labelRut">26.538.853-1</label>
            </div>
            <div class="col-xs-6 col-sm-6" id="columnaMedio">
                <h2>Nombres</h2>
                <label for="nombres" class="labels">Teofilo Marfran</label>
                <h2>Apellidos</h2>
                <label for="Apellidos" class="labels">Garcia Zambrano</label>
                <h2>Fecha de Nacimiento</h2>
                <label for="FechaNacimiento" class="labels">04 - 10 - 1994</label>
                <h2>Nombres</h2>
                <label for="Estudios" class="labels">Técnico Superior en Informática</label>
            </div>
            <div class="col-xs-2 col-sm-2" id="ultimaColumna">
                <div class="lenguajesProgramacion">
                    <img src="/assets/Imagenes/HTML5.png" alt="Teofilo Garcia" id="imagenHTML" class="imagenesLenguajes">
                </div>
                <div class="lenguajesProgramacion">
                    <img src="/assets/Imagenes/CSS3.png" alt="Teofilo Garcia" id="imagenCSS" class="imagenesLenguajes">
                </div>
                <div class="lenguajesProgramacion">
                    <img src="/assets/Imagenes/JS.png" alt="Teofilo Garcia" id="imagenJS" class="imagenesLenguajes">
                </div>
                <div class="lenguajesProgramacion">
                    <img src="/assets/Imagenes/java.jpg" alt="Teofilo Garcia" id="imagenJava" class="imagenesLenguajes"> 
                </div>
            </div>
    </div>
</section>