#columnaMedio{

  padding-top: 35px;
  padding-left: 30px;
}

h2{

  font-size: 1.7rem;
  color: rgb(29, 2, 39);


}

.contenedorCompleto{

  border-radius: 50px;
  width: 770px;
  height: max-content;
  background:rgb(255, 255, 255);

}

#labelRut {

  filter: blur(3px);
  position: absolute;
  width: 100%;
  bottom:0;
  text-align: center;
  color: rgba(67, 4, 73, 0.562);
  border-bottom-left-radius: 60px;
  font-size: 1.3em;
  font-weight: bold;
}

#labelRut:hover {

  filter: none;
  transition: 2.5s;
}

.fotografia {
  
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 2s;
  
}

#fotoImagen {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px rgb(70, 3, 77);
  -webkit-box-shadow: 0px 0px 15px 15px rgba(71, 1, 78, 0.322);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  
}

.lenguajesProgramacion {
  padding: 40px;
  margin-bottom: 20px;
  margin-left: -25px;
}
.imagenesLenguajes {
  // padding-right: 50px;
  animation: rotation 3s infinite linear;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: absolute;
}

#DatosPersonales{

  font-size: 2rem;
  color: rgba(61, 4, 75, 0.849);
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;

}

.labels{

    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    color: rgb(29, 2, 39);
}

// .divisiones{

//   padding-left: 25px;

// }

@keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  to {
    -webkit-transform: rotateY(180deg);

    transform: rotateY(359deg);
  }
}


@media (max-width: 575px) {

  #fotoImagen {
    // margin-top: 100px;
    width: 28%;
    height: 28%;
  }
  // .container{
//     // padding: 100px;
//     background-color: blue;
//   }
  

}

/* Separacion para modo
         Laptop */

@media only screen and (max-width: 1030px){

  .container{

      margin-top: 150px;
      // position: absolute;
  }
  
}
